@import url('@catppuccin/palette/css/catppuccin.css');

:root {
	background: var(--ctp-macchiato-base);
	color: var(--ctp-macchiato-text);
	font-family: 'Lexend', sans-serif;
	font-size: 20px;

	/* Default transition */
	--default-transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

* {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin-inline: 0;
	margin-block: 1rem 0.5rem;
}

h1 {
	font-size: 3em;
}

p, ul, ol {
	margin-inline: 0;
	margin-block: 0 1rem;
}

p, li {
	max-width: 75ch;
}

a {
	text-decoration: none;
	color: var(--ctp-macchiato-yellow);
}

body {
	margin: 0;
}

article {
	width: 1000px;
	margin: auto;

	& a:hover {
		text-decoration: underline;
	}

	@media (max-width: 1000px) {
		width: auto;
	}
}

button, a.cta {
	padding: 0.5rem 1rem;
	color: var(--ctp-macchiato-crust);
	background-color: var(--ctp-macchiato-yellow);
	font-family: inherit;
	font-size: 1rem;
	border: none;
	border-radius: 1rem;
	transition: var(--default-transition);

	&:hover {
		scale: 1.1;
	}
	
	&:active {
		scale: 1;
	}
}

::selection {
	background: var(--ctp-macchiato-yellow);
	color: var(--ctp-macchiato-base);
}
