@import url('@catppuccin/palette/css/catppuccin.css');

:root {
	background: var(--ctp-frappe-mantle);
	color: var(--ctp-frappe-text);
	font-size: large;
	font-family: 'Lexend', sans-serif;

	/* Default transition */
	--default-transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

* {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin-inline: 0;
	margin-block: 1rem 0.5rem;
}

h1 {
	font-size: 3em;
}

p, ul, ol {
	margin-inline: 0;
	margin-block: 0 1rem;
}

p, li {
	min-width: 45ch;
	max-width: 75ch;
}

a {
	text-decoration: none;
	color: var(--ctp-frappe-yellow);
}

body {
	margin: 0;
}

main {
	min-height: 80vh;
	background: var(--ctp-frappe-base);
}

article {
	width: 1000px;
	margin: auto;

	a:hover {
		text-decoration: underline;
	}

	@media (max-width: 1000px) {
		width: auto;
	}
}

::selection {
	background: var(--ctp-frappe-yellow);
	color: var(--ctp-frappe-base);
}
